.nav {
    margin:0;
    padding:0;
    height: 60px;
    list-style-type: none;
    display: flex;

    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.nav:hover {
    cursor: pointer;
}

.nav>li {
    padding-left:8px;
    padding-right:8px;
    height: 60px;
    min-width: 60px;
    background-color: red;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

    color:white;
    font-size: large;
}

.nav>li:hover {
    background: rgb(8,0,152);
    background: linear-gradient(0deg, rgba(8,0,152,1) 0%, rgba(15,15,195,1) 35%, rgba(0,212,255,1) 100%);
}